@import url('https://fonts.googleapis.com/css2?family=Graphik+Webfont&display=swap');

.navber {
    display: flex;
    padding: .2rem;
    overflow: hidden;
    justify-content: center;
    /* Align items at the start and end of the flex container */
    align-items: center;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 47rem;
}
.emailinput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: 47rem;
}

.input {

    width: 100%;
    max-width: 50rem;
    height: 2.5rem;
    border-radius: 30px;
    padding-left: 2rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    border: 2px solid black;
}

.searchIconDiv {
    position: absolute;
    right: .3rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F1641E;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;

}

.searchIconDiv:hover {
    scale: 1.1;
}

.subBtn{
    position: absolute;
    left: 70%;
    width: 5.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 20;
    color: #000000;

}

.subBtn:hover {
    scale: 1.1;
}

.searchIcon {
    display: flex;
    color: #fff;
    font-size: 1.5rem;
}

.navberList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 15rem;
}

.signIn {
    font-family: 'Graphik Webfont', '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 20.99px;
    border-radius: 10rem;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.signIn:hover {
    background-color: #eee7e7;
}

.indiaFlag {
    cursor: pointer;
    margin-left: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
}

.indiaFlagDiv {
    display: flex;
    align-items: center;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.indiaFlagDiv:hover {
    background-color: #CCEBFF;
}

.like {
    margin-left: 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

}

.text {
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .16px;
}

.like:hover {
    background-color: #CCEBFF;
}

.cart:hover {
    background-color: #CCEBFF;

    .cartValue {
        background-color: blue;
    }
}

.cart {
    position: relative;
    
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.cartValue {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .3rem;
    right: .3rem;
    width: 1rem;
    height: 1rem;
    border-radius: .5rem;
    background-color: #CF4018;
    font-size: .9rem;
    color: #CCEBFF;
}
.cate{
  margin: 4rem;
 
}
@media only screen and (max-width: 700px) {
  .input {

    width: 10rem;
    max-width: 50rem;
    height: 2.5rem;
    border-radius: 30px;
    padding-left: 2rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    border: 2px solid black;
}
.search{
  margin-right: -2rem;
}
  .cate{
    margin: .1px;
  }
  .logo img{
    width: 30rem;
  }
  .navberList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    max-width: 10rem;

}
    .navber {
        display: flex;
        padding: .2rem;
        overflow: hidden;
        justify-content: center;
        /* Align items at the start and end of the flex container */
        align-items: center;
        flex-direction: row;
        position: fixed; 
        top: 0; /* Stick to the top of the viewport */ 
        width: 100vw;
        background-color: white; /* Optional: to distinguish the navber */
        z-index: 1000;     
    }
    .signIn{
      margin-left: 2.2rem;

    }
}

.main {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}


.carousel {
    width: 65%;

}

/* information*/
.info {
    font-family: 'Graphik Webfont', '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', sans-serif;
    margin: 3rem;
    width: 35%;
    display: flex;
    align-self: self-start;
    flex-direction: column;

}

.limited {
    color: #A61A2E;
    font-family: 'Graphik Webfont', '-apple-system', 'Helvetica Neue', 'Droid Sans', 'Arial', sans-serif;
    font-weight: 550;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: .08px;
    padding-bottom: 7px;
   padding-left: 1rem;
}

.price {

    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-weight: 550;
    font-size: 27.01px;
    line-height: 1.3;
    letter-spacing: .13505px;
    padding-bottom: 7px;
    padding-left: 1rem;
}

.choose {
    color: #757373;
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 12.99px;
    line-height: 1.4;
    letter-spacing: .1299px;
    padding-bottom: 7px;
    padding-left: 1rem;
}

.des {
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: .9px;
    padding-bottom: 10px;
    padding-left: 1rem;
}

.stars {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    color: #222222;
    padding-left: 1rem;
    
}

.check {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 1rem;
    
}

.checkP {
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 12.99px;
    line-height: 1.4;
    letter-spacing: .1299px;
    color: #4b4a4a;
  
}

.select {
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: var(--clg-effect-sem-shadow-elevation-1, 0px 1px 2px 0px rgba(0, 0, 0, 0.3019607843), 0px 1px 3px 1px rgba(0, 0, 0, 0.1490196078));
    display: block;
    font-family: inherit;
    font-size: 16px;
    height: 48px;
  
    padding-right: calc(12px + 24px);
    width: 95%;
    border-radius: 6px;
    background: var(--clg-color-app-input-background, #FFFFFF);
   margin-left: 1rem;
    color: var(--clg-color-sem-text-primary, #222222);
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    margin-bottom: 1rem;
    border: none;
}

.select:hover {
    border: 2px solid blue;
}

.cartBtn {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 30px;
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 1.1rem;
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
}

.starReview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
}

.toggleBtn {
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    cursor: pointer;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 1rem;
    color: #222222;
    font-weight: 500;


}

.toggleBtn:hover {
    background-color: #E9E9E9;
    border-radius: 30px;
}
.homeProduct{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    width: 23rem;
 border-radius:12px;
 transition: box-shadow 0.3s ease;
}
.homeProduct:hover{
    background-color: #f0f3f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  .icons{
    font-size: 3rem;
  }
  
  .leftColumn {
    width: 30%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    max-width: 100%;
   
  }
  
  .rightColumn {
    width: 70%;
    display: flex;
    background-color: #3140AF;
  }
  
  .column {
    flex: 1;
    padding: 0 20px;
  }
  
  .column h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 15px;
    cursor: pointer;
    font-size: .8rem;
    
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
  }
  
  .column ul li:hover {
    text-decoration: underline;
  }
  .sub{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    background-color: #CCEBFF;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 7rem;
    border-radius: 12px;
  }
  .cateHeading{
    justify-content: center;
  }
  @media screen and (max-width: 800px) {
    .categoryHead{
  
    width: 2rem;
      display: flex;
      
      
    }
  .cateHeading{
    gap: 1;
      width: 150%;
      font-size: 1px;
      font-weight: 100;
      justify-content: flex-start;
      

      

    }
    .homeProduct{
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content: center;
      margin:10px;
   border-radius:12px;
   transition: box-shadow 0.3s ease;
  }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .leftColumn {
        box-sizing: border-box;
    width: 100%;
    margin: 0%;
    padding: 0%;
    height: 10rem;
        
      }
      .column {
        flex: 1;
        padding: 0 7px;
      }
      .rightColumn {
        width: 100%;
        display: flex;
      }
      
  }
  /*endfooter*/

.footerEnd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .footerLeft{
    width: 30%;
  }
  .footerRight {
    width: 70%;
    display: flex;
    
  }
  .footerRight li{
    display: flex;
    margin-left: -1rem;
    width: 7rem;
  }
  .sub{
    margin-left: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 7rem;
    border-radius: 12px;
  }
  .sub p{
    font-size: 10px;
  }
  .emailinput{
    width: 150%;
  }
  .subBtn{
    left: 63%;
  }
  .button {
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .footerRight p {
    margin: 0;
    text-align: right;
  }
  @media screen and (max-width: 800px) {
    .footerRight li{
      display: flex;
      font-size: .8rem;
      margin-left: -1rem;
      width: 5rem;
    }
    .footerEnd {
      flex-direction: column;
      text-align: center;
    }
  
    .footerLeft,
    .footerRight {
      width: 100%;
      margin-bottom: 10px;
      
      
    }
  }

  .mainPage a {
    /* Remove underlines */
    text-decoration: none;
    color: inherit; /* Set the color to inherit from the parent */
  }
  .categoryProduct{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    transition: border-bottom 1s ease;
   
}
 .categoryProduct img{
  width: 2rem;
}
.categoryProduct:hover{
    border-bottom: 2px solid black;
}
.categoryHead{
  font-size: 1rem;
  font-weight: 700;
  font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
  cursor: pointer;
  margin: 1.5rem;
  transition: border-bottom 1s ease;

}
.categoryHead:hover{
  border-bottom: 2px solid black;
}
.categoryProduct:hover{
  border-bottom: 2px solid black;
  img{
    scale: 1.1;
  }
}
  .gitfProduct{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
 border-radius:12px;
 transition: box-shadow 0.3s ease;
}
.gitfProduct:hover{
    background-color: #f0f3f5;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.giftHead{
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-size: 1.4rem;
}
.Blogtext{
    font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue", "Droid Sans", "Arial", "sans-serif";
    font-size: .8rem;
    padding-left: 2rem;
    color: rgb(71, 71, 71);
}
@media screen and (max-width:800px) {
    .categoryProduct{
        width: 9rem;
        height: 15rem;
    }  
    .categoryProduct img{
        width: 9rem;
    }  
    .gitfProduct{
        width: 6rem;
        height: 10rem;
    }
    .gitfProduct img{
        width: 6rem;
    }
    .giftHead{
        
        font-size: 15px;
        width: 100%;
    }
}